.one{
    float: left;
    margin-top: 35px;
    border: black 1px solid;
    border-radius: 1000px;

}

.hh{
    margin: 10px;
    color: whitesmoke;
border: black 1px solid;
    border-radius: 15px;
    margin-top: 35px;


    resize: none;
}






body{
    background-color: black;
}
.pp{
    margin-left: 10px;
    border: black 1px solid;
    border-radius: 10px;
}

p{
    color: whitesmoke;
    margin-right: 100px;

}

i{
    margin-right: 70px;


}

